*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{

    --prim-colr: rgb(248, 241, 223);;
    --sec-colr:white;
    --thd-colr: lightblue;
    --frt-colr:black;
    --fft-colr:white;
    --sidego:-300px;

}
.dark-theme{
    --prim-colr: rgb(38, 36, 37);
    --sec-colr: yellow;
    --thd-colr: blueviolet;
    --frt-colr: white;
    --fft-colr:black;
}
@font-face { 
    font-family: 'Jersey 10';
    src: url('Jersey10-Regular.ttf'); 

} 
@font-face { 

    font-family: 'VT323';
    src:url('VT323-Regular.ttf')
} 


@keyframes txtanim{
    0%{}
    
    10%{top:-16vh}

    100%{}
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: var(--prim-colr) no-repeat;
    background-size: cover;
    background-position: center;
    
}


header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 2vw 5%;

    background-color:transparent;
    display: flex;
    backdrop-filter:blur(20px);
    border: 2px solid rgba(20, 3, 3, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.sidebtn{
    font-family:"VT323", sans-serif;
    font-size: 35px;
    text-decoration: none;
    font-weight: 600;
    color:blueviolet;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

    
}
.sidebtn:hover{
    font-size: 35.5px;
    text-shadow: 0px 4px 3px black ;
    
}
.sidebtnon{
    --sidego:0px;

}
.navbar a{
    font-size: 20px;
    margin-left: 30px;
    text-decoration: none;
    color:blueviolet;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.navbar a:hover,
.navbar a.active {
    border-color:blueviolet;
}

.theme{


    width: 2vw;
    height: 2vw;
    box-shadow: 0 0 15px var(--sec-colr);
    border: none;
    background-color:var(--sec-colr);
    border-radius: 50%;
    cursor:pointer;
    margin-left: 5vw;
}
.sidebar{
    height: 100%;
    padding:50px 20px;
    width: 300px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4) ;
    backdrop-filter: blur(15px);
    box-shadow: black;
    border: 2px solid rgba(20, 3, 3, 0.2);
    transition:  0.5s ease;
    border-radius: 10px;
    left: var(--sidego);
    top: 0px;
    z-index: 10;

}

ul li{
    list-style: disc;
    color:aqua;
}
ul li a{
    color:var(--frt-colr);
    font-size: 17px;
    font-weight: 700;
    padding: 0px 10px;
    padding-right:30px;
    transition: 0.3s ease;
    line-height: 90px;
    text-decoration: none;
    font-style:italic;

}
.sidebar a:hover{
    padding-left: 20px;
}
.resistor-img{
    height: 25vw;
    width: 45vw;
    top: 13%;
    left:32%;
    position: absolute;
}
.resistor-img img{
    height: 20vw;
    width:40vw;
    position: absolute;
    top: 0%;
    left:0%;
    
}
 .band1
{
    width:1.2vw;
    height: 6.8vw;
    position:absolute;
    background-color: white;
    top:17%;
    left:32.4%;
    clip-path: polygon(0% 0%, 100% 3%, 100% 75%, 0% 78%);
    
}
 .band2
{
    width:1.3vw;
    height:5.8vw;
    position:absolute;
    background-color: white;
    top:18.5%;
    left:37%;
    clip-path: polygon(0% 0%, 100% 1%, 100% 75%, 0% 76%);
}
.band3
{
    width:1.3vw;
    height:5.8vw;
    position:absolute;
    background-color: white;
    top:18.8%;
    left:41.6%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
}
.band4
{
    width:1.3vw;
    height:6.8vw;
    position:absolute;
    background-color: white;
    top:17.4%;
    left:50.5%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 75%);
}

.resistor{font-size: 1vw;}
.resistor #lbl1{
    position: absolute;
    left:10%;
    color:var(--frt-colr);

}

.resistor #lbl2{
    position: absolute;
    left:25%;
    color:var(--frt-colr);
}

.resistor #lbl3{
    position: absolute;
    left:40%;
    color:var(--frt-colr);
}
.resistor #lbl4{
    position: absolute;
    left:55%;
    color:var(--frt-colr);
}
.resistor select 
{
    font-size: 1vw;
    color: black;
}
.resistor select option
{
    font-size: 1vw;
    color: black;
}
.resistor #selectColor1{
    width:100px;
    height:20px;
    position: absolute;
    top:55%;
    left: 10%;
}
.resistor #selectColor2{
    width:100px;
    height:20px;
    position: absolute;
    top:55%;
    left: 25%;
}
.resistor #selectColor3{
    width:100px;
    height:20px;
    position: absolute;
    top:55%;
    left: 40%;
}
.resistor #selectColor4{
    width:100px;
    height:20px;
    position: absolute;
    top:55%;
    left: 55%;
}
.resistor button
{
    width:10vw;
    font-size: 1.5vw;
    position: absolute;
    top: 52%;
    left:70%;
    border: none;
    border-width: 3px;
    background-color:rgb(133, 197, 254);
    box-shadow: 0 4px rgb(97, 98, 99);
    cursor:pointer;

}
    
.resistor button:active{
    top:53%;
    box-shadow: 0 1px grey;
   
}
.resistor #output
{
    position: absolute;
    left:82%;
    top:52.5%;
    font-size: 1vw;
    color:var(--frt-colr);
}
.resistor #or
{
    position: absolute;
    left:90%;
    top: 52%;
    font-size: 1.5vw;
    color:var(--frt-colr);
}
.resistor #output2
{
    position: absolute;
    left:91%;
    top: 52.5%;
    font-size: 1vw;
    color:var(--frt-colr);
}
footer{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 2vw 5%;
    display: flex;
    width:100%;
    margin: none;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(red, green, blue, alpha);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,.2);



}
.links a{ 
    font-size: 1.2vw;
    margin-left: 15vw;
    text-decoration: none;
    color:blueviolet;
    transition: 0.3s;
}
.links a:hover,
.links a.active {
    color:white;
}

@media (max-width:600px)
{
    .navbar a
    {
        font-size: 15px;
        margin-left: 20px;
    }
    .sidebtn
    {
        font-size: 25px;
    }
    .sidebtn:hover{
        font-size: 25.5px;
    }
    .theme{
        width: 20px;
        height: 20px;
    }
    .links a{
        font-size: 15px;
    }
    .resistor{font-size: 10px;}
    .resistor #lbl1{top:30vh;}
    .resistor #lbl2{
        left:10%;
        top:35vh;}
    .resistor #lbl3{
        left:10%;
        top:40vh;}
    .resistor #lbl4{
        left:10%;
        top:45vh;}
    .resistor #selectColor1{
        left:30%;
        top:30vh;}
    .resistor #selectColor2{
        left:30%;
        top:35vh;}
    .resistor #selectColor3{
        left:30%;
        top:40vh;}
    .resistor #selectColor4{
        left:30%;
        top:45vh;}
    .resistor select {font-size: 10px;}
    .resistor select option{font-size: 10px;}
    .resistor button{font-size: 15px;
    width: 12vh;
    left: 10%;}
    .resistor #output{font-size: 10px;left: 30%;}
    .resistor #or{font-size: 15px;left: 45%;}
    .resistor #output2{font-size: 10px;left: 47%;}


}
@media(max-width:450px)
{
    .resistor-img{left: 10%;}
    .resistor-img img{
    height: 40vw;
    width:80vw;}
    .band1
{
    width:2.4vw;
    height: 13.6vw;
    top:34%;
    left:65%;
    
}
.band2
{
    width:2.7vw;
    height:11.6vw;
    top:37.5%;
    left:74%;
}
.band3
{
    width:2.6vw;
    height:11.6vw;
    top:37.5%;
    left:83.5%;
}
.band4
{
    width:2.6vw;
    height:13.8vw;
    top:34.5%;
    left:101%;
}

    .resistor #selectColor1{
        left:40%;
}
    .resistor #selectColor2{
        left:40%;
}
    .resistor #selectColor3{
        left:40%;
}
    .resistor #selectColor4{
        left:40%;
}
    .resistor #output{left: 37%;}
    .resistor #or{left: 56%;}
    .resistor #output2{left: 58%;}
    .links a{
        margin-left: 6vw;
    }
}
@media(max-width:375px)
{
    .resistor #or{left: 61%;}
    .resistor #output2{left: 63%;}

}

