*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{

    --prim-colr: url('Light.png');
    --sec-colr:white;
    --thd-colr: lightblue;
    --frt-colr:black;
    --fft-colr:white;
    --side:0px;
    --sidego:-300px;

}
.dark-theme{
    --prim-colr: url('Dark.png');
    --sec-colr: yellow;
    --thd-colr: blueviolet;
    --frt-colr: white;
    --fft-colr:black;
}
@font-face { 
    font-family: 'Jersey 10';
    src: url('Jersey10-Regular.ttf'); 

} 
@font-face { 

    font-family: 'VT323';
    src:url('VT323-Regular.ttf')
} 
@keyframes trans{
    0%
    {background: linear-gradient(to right,purple,rgb(128, 0, 80),red,rgb(128, 0, 80),purple,purple,purple,purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    12.5%{background: linear-gradient(to right,purple,purple,rgb(128, 0, 80),red,rgb(128, 0, 80),purple,purple,purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    25%{background: linear-gradient(to right,purple,purple,purple,rgb(128, 0, 80),red,rgb(128, 0, 80),purple,purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    37.5%{background: linear-gradient(to right,purple,purple,purple,purple,rgb(128, 0, 80),red,rgb(128, 0, 80),purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    50%{
        background: linear-gradient(to right,purple,purple,purple,purple,purple,rgb(128, 0, 80),red,rgb(128, 0, 80));
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
    }
    62.5%{background: linear-gradient(to right,purple,purple,purple,purple,purple,purple,rgb(128, 0, 80),red);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    75%{background: linear-gradient(to right,red,rgb(128, 0, 80),purple,purple,purple,purple,purple,rgb(128, 0, 80));
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    87.5%{background: linear-gradient(to right,rgb(128, 0, 80),red,rgb(128, 0, 80),purple,purple,purple,purple,purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;}
    
    100%
    {
        background: linear-gradient(to right,rgb(128, 0, 80),red,rgb(128, 0, 80),rgb(128, 0, 80),purple,purple,purple,purple);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
    }
}
@keyframes bobble{
    0%{
    }
    33%{
        transform: rotate(2deg);
    }
    66%{
        transform:rotate(-2deg) ;
    }
    100%{
    }
}
@keyframes txtanim{
    0%{}
    
    10%{top:-104px}

    100%{}
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: var(--prim-colr) no-repeat;
    background-size: cover;
    background-position: center;
    
}


header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background-color:transparent;
    display: flex;
    backdrop-filter:blur(20px);
    border: 2px solid rgba(20, 3, 3, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.sidebtn{
    font-family:"VT323", sans-serif;
    font-size: 35px;
    text-decoration: none;
    font-weight: 600;
    color:blueviolet;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.sidebtn:hover{
    font-size: 35.5px;
    text-shadow: 0px 4px 8px black ;
    
}
.sidebtnon{
    --side:300px;
    --sidego:0px;

}
.navbar a{
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    color:blueviolet;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.navbar a:hover,
.navbar a.active {
    border-color:blueviolet;
}

.theme{
    width: 30px;
    height: 30px;
    box-shadow: 0 0 15px var(--sec-colr);
    border: none;
    background-color:var(--sec-colr);
    border-radius: 50%;
    cursor:pointer;
    margin-left: 70px;
}
.sidebar{
    height: 80%;
    padding:50px 20px;
    width: var(--side);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4) ;
    backdrop-filter: blur(15px);
    box-shadow: black;
    border: 2px solid rgba(20, 3, 3, 0.2);
    transition:  0.5s ease;
    border-radius: 10px;
    left: var(--sidego);
    top: 74px;

}

ul li{
    list-style: disc;
    color:aqua;
}
ul li a{
    color:var(--frt-colr);
    font-size: 17px;
    font-weight: 700;
    padding: 0px 10px;
    padding-right:30px;
    transition: 0.3s ease;
    line-height: 90px;
    text-decoration: none;
    font-style:italic;

}
.sidebar a:hover{
    padding-left: 20px;
    
}
.hello label{
    position:relative;
    top:-100px;
    cursor:default;
    left:-10px;
    font-size: 60px;
    color: var(--frt-colr);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:var(--fft-colr);
    font-family:"Jersey 10", sans-serif;
    animation: txtanim 2.2s infinite;
    
}
.there label{
    position:relative;
    top:-100px;
    left:10px;
    cursor:default;
    font-size: 60px;
    color: var(--frt-colr);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:var(--fft-colr);
    font-family:"Jersey 10", sans-serif;
    animation: txtanim 2.2s infinite;

}
#label0{animation-delay:0s;}
#label1{animation-delay:.2s;}
#label2{animation-delay: .4s;}
#label3{animation-delay: 0.6s;}
#label4{animation-delay: .8s;}
#label5{animation-delay: 1s;}
#label6{animation-delay: 1.2s;}
#label7{animation-delay: 1.4s;}
#label8{animation-delay: 1.6s;}
#label9{animation-delay: 1.8s;}
#label10{animation-delay: 2s;}


p{
    position:fixed;
    font-size: 20px;
    top: 350px;
    left:470px;
    background-color: rgba(255, 255, 255, 0.3) ;
    backdrop-filter:blur(10px);
    border-radius: 20px;
    padding: 30px 40px;
}
  


footer{
    position: fixed;
    bottom: 0;
    left:0;
    padding: 25px 5%;
    display: flex;
    width:100%;
    margin: none;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(red, green, blue, alpha);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,.2);
}
.links a{ 
    font-size: 18px;
    margin-left: 170px;
    text-decoration: none;
    color:blueviolet;
    transition: 0.3s;
}
.links a:hover,
.links a.active {
    color:white;
}
